<% provide(:title, "Manage Clients") %>
<div class="row">
  <div class="col-md-12">
    <h1>Manage Clients: <%= link_to 'Add New Client', new_client_path, class: 'btn btn-lg btn-primary' %></h1>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"></h3>
      </div>
      <div class="panel-body">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Father / Director</th>
              <th>Phone</th>
              <th>Email</th>
              <th>City</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @clients.each do |client| %>
              <tr>
                <td><%= client.id %></td>
                <td><%= link_to client.name, client_path(client) %></td>
                <td><%= client.father_name %></td>
                <td><%= client.phone %></td>
                <td><%= client.email %></td>
                <td><%= client.city %></td>
                <td>
                  <%= link_to 'Details', client_path(client), class: 'btn btn-sm btn-success' %>
                  <%= link_to 'Fees', manage_fees_path(client), class: 'btn btn-sm btn-primary' %>
                  <%= link_to 'Lawsuits', manage_lawsuits_path(client), class: 'btn btn-sm btn-info' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
