<% provide(:title, "Client Details: #{@client.name}") %>
<div class="row">
  <div class="col-md-8">
    <h1>
      Client:
      <strong><%= @client.name %></strong>
      <%= link_to 'Manage All Clients', clients_path, class: 'btn btn-primary btn-lg' %>
    </h1>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"></h3>
      </div>
      <div class="panel-body">
        <table class="table table-striped table-hover">
          <tr>
            <th>Name</th>
            <td><%= @client.name %></td>
          </tr>

          <tr>
            <th>Father's / Director's Name</th>
            <td><%= @client.father_name %></td>
          </tr>

          <tr>
            <th>Phone</th>
            <td><%= @client.phone %></td>
          </tr>

          <tr>
            <th>Email</th>
            <td><%= @client.email %></td>
          </tr>

          <tr>
            <th>Date of Birth / Incorporation</th>
            <td><%= time_tag @client.date_of_birth %></td>
          </tr>

          <tr>
            <th>Address</th>
            <td><%= @client.address %></td>
          </tr>

          <tr>
            <th>City</th>
            <td><%= @client.city %></td>
          </tr>

          <tr>
            <th>State</th>
            <td><%= @client.state %></td>
          </tr>

          <tr>
            <th>PIN / ZIP Code</th>
            <td><%= @client.pin_zip %></td>
          </tr>

          <tr>
            <th>Country</th>
            <td><%= @client.country_name %></td>
          </tr>

          <tr>
            <th>Notes</th>
            <td><%= @client.notes %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Actions</h3>
      </div>
      <div class="panel-body">
        <%= link_to 'Edit', edit_client_path(@client), class: 'btn btn-lg btn-info' %>
        <%= link_to 'Delete', client_path(@client), method: :delete, data: { confirm: 'Do you want to delete this client and all its associated data?' }, class: 'btn btn-lg btn-danger' %>
        <hr />

        <%= link_to 'Manage Lawsuits', manage_lawsuits_path(@client), class: 'btn btn-lg btn-primary' %>
        <%= link_to 'New Lawsuit', new_lawsuit_path(@client), class: 'btn btn-lg btn-success' %>

        <hr />

        <%= link_to 'Manage Fees', manage_fees_path(@client), class: 'btn btn-lg btn-primary' %>
        <%= link_to 'New Fees', new_fees_path(@client), class: 'btn btn-lg btn-success' %>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Information</h3>
      </div>
      <div class="panel-body">
        <h3>Total Lawsuits: <strong><%= @client.lawsuits.count %></strong> <br /></h3>
        <hr />
        <h3>Total Fees: <strong><%= number_to_currency @client.fees.sum(:amount) %></strong> <br /></h3>
      </div>
    </div>
  </div>
</div>