<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_url %>" style="padding:10px;">
        <img src="https://cdn.theindianlaw.com/prawo/logo.png" style="height:100%;">
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="<%= root_url %>">Home</a></li>
        <li><%= link_to 'Clients', clients_path %></li>
        <li><%= link_to 'Lawsuits', lawsuits_index_path %></li>
        <li><%= link_to 'Documents', '#' %></li>
        <li><%= link_to 'Fees', fees_index_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Help</a></li>
      </ul>
    </div>
  </div>
</nav>